{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-form">
        {% if error %}
            <div class="error-message">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="controls-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="controls-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password">
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}